# ==== RStudio temporary files ====
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# ==== Quarto intermediate / cache files ====
.quarto/

/.quarto/
**/*.quarto_ipynb

# === Data ===

*.png
*.jpg
!images/
!docs/images/
!_freeze/
!problem_sets/**/*.png

# === Misc ===
.Renviron
texput.log
*_cache/
*_files/
*.rmarkdown